* {
    margin: 0;
    padding: 0;
}

.container{
   
    width: 1120px;
    height: 3054px;
    margin: 40px auto;
}

.headline{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold; /* a fonte fica em negrito */
    color: #e1624f;  
    text-transform: uppercase; /* a fonte fica com todas as letras em maiúsculo */
}

h1{
    line-height: 49px;
    margin-bottom: 8px;
    margin-top: 8px;
}
#title-page{
    margin-bottom: 40px;
}

#description-img1{
    margin-top: 24;
    margin-bottom: 40px;}
    
#img1 {
    border-radius: 28px;  /* Adicionar o arredondamento da borda */
    width: 100%; /* imagem ocupa 100% do tamanho disponível pra ela */
    height: 660px;
}
    
#text-description-img1{
    margin-top: 24px;
    margin-bottom: 40px;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    text-align: center; /* Alinha o texto ao centro */
}

.divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
}

#content-list{
    margin-top: 64px;
}

h2{
    line-height: 44px;
    margin-bottom: 8px;
    margin-top: 8px;
}

#text-title-list{
    margin-bottom: 64px;
}

.img-cards{
    border-radius: 28px;
}
ul {
    margin-left: 0;
    list-style-position: inside; /* faz o número/bolinha ficarem dentro do container */
    line-height: 38px;
    font-weight: bold;
    font-size: 22px;
}
#link-historia{
    font-size: 16px;
    color: #333333;
    margin-left: 0;
    list-style-position: inside;
}

footer{
    margin-top: 24px;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    text-align: center; /* Alinha o texto ao centro */
}


